import(graphics,stats,methods)
export(ghyp,VG,NIG,student.t,hyp)
export(dghyp,pghyp,ESghyp,qghyp,rghyp)
export(ghyp.moments,ghyp.fit.info,ghyp.params,ghyp.data)
export(portfolio.optimize)
export(qqghyp,redim,lin.transf)
export(dgig,Egig,ESgig,qgig,rgig,pgig)
export(fit.ghypuv,fit.hypuv,fit.tuv,fit.NIGuv,fit.VGuv)
export(fit.ghypmv,fit.hypmv,fit.tmv,fit.NIGmv,fit.VGmv)
export(stepAIC.ghyp)
exportClasses("ghypbase")
exportClasses("ghypuv")
exportClasses("ghypmv")
exportClasses("mle.ghypuv")
exportClasses("mle.ghypmv")
exportMethods("hist")
exportMethods("pairs")
exportMethods("show")
exportMethods("mean")
exportMethods("vcov")
exportMethods("logLik")
exportMethods("AIC")
